 
*{
    margin: 0;
    padding: 0;
}
.history { 
    padding-top: 5px;
    margin-top: 5px;
}
.urgent {
    width: 8px;
    height: 100%;
    background-color: red
}

.historyblock-contents { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}
.historyblock-contents h5 { 
    padding: 0;
    margin: 0;
    font-style: italic;
}

.historyblock-contents p { 
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
}
.historyblock-contents .metainfo { 
    font-size: smaller;
    font-weight: 100;
}
.history_content {
    padding: 100%;
}

.history_content p {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;

}

