letter-section {
  /* width: 250px;
    height: 250px;  */
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding-top: 10px;  
  
}
 
mat-grid-tile {
  background: rgb(235, 236, 236);border-radius: 15px;
}

mat-grid-list { 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.top-bottom-space {
  padding-top: 20px;
  margin-top: 5px;
}